<div class="jumbotron jumbotron-fluid bg-success text-center mb-0" id="head">
  <div class="container">
    <div class="col-sm-12 col-md-8 mx-auto">
      <h1 class="display-4 text-white font-weight-bold">Siembra un árbol y comparte tu aporte con el mundo</h1>
      <br>
      <p class="lead text-white">Arborizate es la aplicación web que te invita a registrar y compartir tus siembras con todo el mundo. Reforesta, comparte y participa </p>
    </div>

    <br>
    <br>

    <div>
      <button type="button" class="btn btn-outline-light btn-lg mr-2 w-25 b-radius-50">Conoce más</button>
      <button type="button" class="btn btn-success btn-lg ml-2 w-25 b-radius-50">Participa</button>
    </div>

  </div>  
</div>