<nav class="navbar navbar-expand-md navbar-dark" id="nav">
  <div class="container">
    <a class="navbar-brand text-secondary d-flex" href="">
      <img src="<%= asset_path('logo_navbar.png') %>" class="img-fluid" alt="Logo">
      <p class="h4 text-white ml-2 align-middle mt-1">Arborizate</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon mb-0"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="btn btn-link text-white mr-2" href="#stats" role="button">Impacto</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-link text-white mr-2" href="#how_to_head" role="button">¿Cómo funciona?</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light mr-2" href="#" role="button">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning mr-2" href="#register" role="button">Registrarse</a>
        </li>
      </ul>
    </div>
  </div>
</nav>